<div class="modal-bg" (click)="close.emit()"></div>

<div class="modal">
    <div class="modal-content">
        <h4>Реєстрація</h4>
        <input type="text" placeholder="Nickname..." #Nickname>
        <input type="text" placeholder="E-mail..." #Email>
        <input type="text" placeholder="First name..." #FirstName>
        <input type="text" placeholder="Seconds name..." #SecondName>
        <input type="text" placeholder="Country..." #Country>
        <input type="text" placeholder="City..." #City>
        <input type="text" placeholder="Post index..." #PostIndex>
        <input type="password" placeholder="Password..." #Password>
        <button>Реєстрація</button>
    </div>
</div>