<div class="add-book">
    <h2>Додати книгу</h2>
    <form class="book-inputs">
        <div><span>Назва</span> <input type="text"></div>
        <div>
            <span>Жанр</span>
            <select name="" id="">
                <option value="asd">test</option>
            </select>
        </div>
        <div>
            <span>Автор</span>
            <select name="" id="">

            </select>
        </div>
        <div><span>Обкладинка</span> <input type="file"></div>
        <div><span>Опис</span> <textarea name="" id="" cols="100" rows="20"></textarea></div>
    </form>
    <button class="submit">Додати книгу</button>
    <p>*книгу буде додано після модерації</p>
</div>