.orders-content {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 50px;    

    h3 {
        font-size: 30px;
    }

    .orders-list {
        width: 100%;

        div {
            width: 980px;
        }
    }
}