.modal-bg {
    background-color: rgba(255, 255, 255, .1);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(10px);
}


.modal-content {
    z-index: 4;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    h4 {
        color: #fff;
        font-size: 20px;
    }

    input {
        background-color: transparent;
        padding: 15px;
        margin-top: 20px;
        border-bottom: 1px solid #d4ab9523;
        transition: .2s;
    }

    input:hover {
        border-bottom: 1px solid #a76152;
        transition: .2s;
    }

    button {
        border-radius: 5px;
        margin-top: 10px;
        width: fit-content;
        padding: 10px;
        background-color: #5B372F;
        cursor: pointer;
        transition: .2s;
    }

    button:hover {
        background-color: #6e4238;
        transition: .2s;
    }
}

.error-message {
    margin-top: 10px;
    color: red;
}