.user-item {
    width: 100%;
    height: 6em;
    background-color: transparent;
    border: 2px solid #3ba272;
    margin-bottom: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;    

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    
    div {
        
    
        p {
            margin-left: 20px;
    
            label {
                color: #7ffc9a;
            }
        }
    
        button {
            margin-left: 20px;
            width: fit-content;
            padding: 1em;
            background-color: transparent;
            cursor: pointer;
        }
    
        .check {
            border: 1px solid #A77A07;
        }
    
        .check:hover {
            background-color: #a77a073f;
        }
    
        .ban {
            border: 1px solid #A80000;            
        }
    
        .ban:hover {
            background-color: #a8000041;
        }
    
        .change-role {
            margin-left: 20px;
            width: fit-content;
            height: fit-content;

            button {
                margin: 0;
                border: 1px solid #00A82F;
            }

            div {
                position: absolute;
                display: flex;
                flex-direction: column;

                button {
                    background-color: #00A82F;
                }

                button:hover {
                    background-color: #00641c;
                }
                
            }
        }
    
        .change-role:hover {
            button {
                background-color: #00a83033;
            }
        }
    }
}

.banned {
    border: 2px solid rgb(255, 62, 62);
}

.admin {
    border: 2px solid rgb(140, 51, 243);
}