<div class="orders-content">
    <h3 *ngIf="orders.length > 0">Мої ордери на обмін</h3>
    <div class="buttons">
        <button [ngStyle]="{'background-color': inActive ? '#b8ab01' : ''}" class="incoming" 
        (click)="outActive = false; inActive = true; successActive = false" (click)="orders = incomingOrders" (click)="isIncoming = true">Вхідні</button>
        <button [ngStyle]="{'background-color': outActive ? '#b8ab01' : ''}" class="outgoing" 
        (click)="inActive = false; successActive = false; outActive = true" (click)="orders = outgoingOrders" (click)="isIncoming = false">Вихідні</button>
        <button [ngStyle]="{'background-color': successActive ? '#b8ab01' : ''}" class="success" 
        (click)="outActive = false; inActive = false; successActive = true" (click)="orders = succededOrders" (click)="isIncoming = false">Підтверджені</button>
    </div>
    <div class="orders-list">
        <app-order-content-item (click)="toggle(i)" *ngFor="let order of orders; let i = index" [firstBook]="order.firstBook?.title!"
         [secondBook]="order.secondBook?.title!" [state]="order.state!" [index]="order.state!">
            <app-order-content-item-additional [attr.id]="i" *ngIf="show == i" [order]="order" [isIncoming]="isIncoming"></app-order-content-item-additional>
        </app-order-content-item>
        <h3 *ngIf="orders.length < 1">Тут нічого немає...</h3>
    </div>
</div>