<div class="modal-bg" (click)="close.emit()"></div>

<div class="modal">
    <div class="modal-content" [formGroup]="form">
        <h4>Зміна даних профілю</h4>
        <input formControlName="userName" type="text" placeholder="Nickname..." [(ngModel)]="user.userName">
        <input formControlName="email" type="text" placeholder="E-mail..." [(ngModel)]="user.email">
        <input formControlName="firstName" type="text" placeholder="First name..." [(ngModel)]="user.firstName">
        <input formControlName="lastName" type="text" placeholder="Last name..." [(ngModel)]="user.lastName">
        <input formControlName="country" type="text" placeholder="Country..." [(ngModel)]="user.address.country">
        <input formControlName="city" type="text" placeholder="City..." [(ngModel)]="user.address.city">
        <input formControlName="postIndex" type="text" placeholder="Post index..." [(ngModel)]="user.address.postIndex">
        <button (click)="modify()" (click)="close.emit()">Підтвердити</button>
        <!-- <button *ngIf="form.invalid" style="opacity: .5; cursor: not-allowed;">Реєстрація</button>

        <p *ngIf="form.invalid && (form.get('userName')?.invalid && form.get('userName')?.touched)"
            class="error-message">UserName is wrong</p>
        <p *ngIf="form.invalid && (form.get('email')?.invalid && form.get('email')?.touched)" class="error-message">
            Email is wrong</p>
        <p *ngIf="form.invalid && (form.get('firstName')?.invalid && form.get('firstName')?.touched)"
            class="error-message">First name is required</p>
        <p *ngIf="form.invalid && (form.get('lastName')?.invalid && form.get('lastName')?.touched)"
            class="error-message">Last name is required</p>
        <p *ngIf="form.invalid && (form.get('country')?.invalid && form.get('country')?.touched)" class="error-message">
            Country is required</p>
        <p *ngIf="form.invalid && (form.get('city')?.invalid && form.get('city')?.touched)" class="error-message">City
            is required</p>
        <p *ngIf="form.invalid && (form.get('postIndex')?.invalid && form.get('postIndex')?.touched)"
            class="error-message">Post index is required</p>
        <p *ngIf="form.invalid && (form.get('password')?.invalid && form.get('password')?.touched)"
            class="error-message">Password is required</p>
        <p class="error-message">{{errorMessage}}</p> -->
    </div>
</div>