<div class="modal-bg" (click)="close.emit()"></div>

<div class="modal">
    <div class="modal-content">
        <div class="login-options">
            <h4>Увійти за допомогою:</h4>
            <div class="options">
                <button (click)="loginMethod = 'email'" [ngClass]="{'active' : isValue == 1}" (click)="toggle1()">E-mail</button>
                <button (click)="loginMethod = 'name'" [ngClass]="{'active' : isValue == 2}" (click)="toggle2()" >Username</button>
            </div>
        </div>
        <div class="login-creds"> 
            <form [formGroup]="form">
                <input formControlName="userName" type="text" placeholder="Login..." >
                <input formControlName="password" type="password" placeholder="Password..." >
                <button class="submit" *ngIf="isValue != 0" (click)="logIn()" (click)="close.emit()">Увійти</button>
                <button class="submit" *ngIf="isValue === 0" style="opacity: .5; cursor: not-allowed;">Увійти</button>
            </form>
        </div>
        <a (click)="openRegister.emit()" (click)="close.emit()">Не маєте акаунту? Зареєструватися</a>
    </div>
</div>