<div class="main-content">
  <div class="book">
    <img [src]="bookImg" alt="">
    <div class="book-descr">
      <div class="main-info">
        <h3>{{book.title}}</h3>
        <div>
          <p>- {{book.author.name}}</p>
          <p>- {{book.genre.title}}</p>
        </div>
      </div>
      <p>{{book.description}}</p>
    </div>
  </div>
</div>
<app-book-content-functions *ngIf="!isOwner" [book]="book" (comments)="openComments = true"></app-book-content-functions>
<app-book-content-owner-functions *ngIf="isOwner" [book]="book" (comments)="openComments = true"></app-book-content-owner-functions>
<app-comments-modal [book]="book" *ngIf="openComments == true" (close)="openComments = false"></app-comments-modal>