<div class="content">
    <div class="content-body">
        <ul class="options">
            <li class="stats" [routerLink]="['stats']" routerLinkActive="active">Статистика</li>
            <li class="users" [routerLink]="['users']" routerLinkActive="active">Користувачі</li>
            <li class="books" [routerLink]="['books']" routerLinkActive="active">Книги</li>
            <li class="orders" [routerLink]="['orders']" routerLinkActive="active">Ордери</li>
            <li class="orders" [routerLink]="['genres']" routerLinkActive="active">Жанри</li>
            <li class="orders" [routerLink]="['authors']" routerLinkActive="active">Автори</li>
            <li *ngIf="isSuperAdmin" class="admins" [routerLink]="['admins']" routerLinkActive="active">Адміністрація</li>
        </ul>
    </div>
</div>