<div class="create-order-content">
    <h1>Запропонувати обмін</h1>
    <div class="create-order-settings">
        <div class="i-want">
            <h5>Хочу</h5>
            <img src="../assets/book1.png" alt="">
            <div>
                <p>Назва: <span></span></p>
                <p>Автор: <span></span></p>
                <p>Жанр: <span></span></p>
            </div>
        </div>
        <div class="i-give">
            <h5>Пропоную</h5>
            <input type="text" placeholder="Введіть назву книги...">
            <div class="input-books">
                <div class="input-book">
                    <img src="../assets/book2.png" alt="">
                    <div>
                        <p>назва книги</p>
                        <p>автор книги</p>
                        <p>жанр книги</p>
                    </div>
                </div>  
                <div class="input-book">
                    <img src="../assets/book2.png" alt="">
                    <div>
                        <p>назва книги</p>
                        <p>автор книги</p>
                        <p>жанр книги</p>
                    </div>
                </div>  
                <div class="input-book">
                    <img src="../assets/book2.png" alt="">
                    <div>
                        <p>назва книги</p>
                        <p>автор книги</p>
                        <p>жанр книги</p>
                    </div>
                </div>  
                <div class="input-book">
                    <img src="../assets/book2.png" alt="">
                    <div>
                        <p>назва книги</p>
                        <p>автор книги</p>
                        <p>жанр книги</p>
                    </div>
                </div>                
            </div>
        </div>
        
    </div>
    <button>Запропонувати</button>
</div>