<div class="content">
    <div class="content-video">
        <iframe src="https://www.youtube.com/embed/oe5WzVf1kq4?autoplay=1" allow="autoplay; encrypted-media"></iframe>
    </div>
    <div class="content-descr_block">
        <img src="../../../../../assets/logo-main-page.png" alt="logo">
        <div class="descr">
            <h2>Вітаємо на сервісі для обміну книгами!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque, rerum ullam deleniti commodi ipsum placeat quidem porro nam possimus, architecto minima officiis at, laboriosam saepe eligendi? Perferendis, voluptas sapiente!</p>
        </div>
    </div>
</div>