<div class="content">
    <div class="content-video">
        <video src="../../../../../assets/Bexchange1.mp4" muted autoplay loop></video>
    </div>
   
    <div class="content-descr_block">
        <img src="../../../../../assets/logo-main-page.png" alt="logo">
        <div class="descr">
            <h2>Вітаємо на сервісі для обміну книгами!</h2>
            <p>
                Bexchange - це сучасний сайт, на якому ви можете обмінятися власними книгами з іншими користувачами.
                Тут ви знайдете книги авторів різних культур та унікальних жанрів, які були додані різними людьми з всієї країни
            </p>
        </div>
    </div>
</div>