<div class="create-order-content">
    <h1>Запропонувати обмін</h1>
    <div class="create-order-settings" *ngIf="books.length > 0">
        <div class="i-want">
            <h5>Хочу</h5>
            <img [src]="bookImg" alt="">
            <div>
                <p>Назва: <span>{{book.title}}</span></p>
                <p>Автор: <span>{{book.author?.name}}</span></p>
                <p>Жанр: <span>{{book.genre?.title}}</span></p>
            </div>
        </div>
        <div class="i-give">
            <h5>Пропоную</h5>
            <div class="input-books">
                <div [ngStyle]="{'backdrop-filter' : books[i].id == activeBookId ? 'blur(1px)' : ''}" 
                class="input-book" *ngFor="let book of books; let i = index" (click)="activeBookIndex = i" (click)="activeBookId = book.id">
                    <div>
                        <p>назва: <span>{{book.title}}</span></p>
                        <p>автор: <span>{{book.author?.name}}</span></p>
                        <p>жанр: <span>{{book.genre?.title}}</span></p>
                    </div>
                </div>                
            </div>
        </div>
        
    </div>
    <h2 *ngIf="books.length < 1">У вас немає власних книг</h2>
    <button (click)="createOrder()" *ngIf="books.length > 0">Запропонувати</button>
</div>