<div class="modal-bg" (click)="close.emit()"></div>

<div class="modal">
    <div class="modal-content">
        <div class="login-options">
            <h4>Увійти за допомогою:</h4>
            <div class="options">
                <button>E-mail</button>
                <button>Username</button>
            </div>
        </div>
        <div class="login-creds"> 
            <form [formGroup]="form">
                <input formControlName="userName" type="text" placeholder="Login..." #login>
                <input formControlName="password" type="password" placeholder="Password..." #password>
                <button class="submit" (click)="logIn()" (click)="close.emit()">Увійти</button>
            </form>
        </div>
        <a (click)="openRegister.emit()" (click)="close.emit()">Не маєте акаунту? Зареєструватися</a>
    </div>
</div>